:root{
    --cor-de-fundo:#efeb7ca9;
    --ciano:#2aceeb67;
    --branco:#fffefe;
    --botao-ativo:#f32b787c;
    --botao-inativo:#a80fc770;
    --texto-fundo:#000000;
}
body{
    background-color: var(--cor-de-fundo);
    color:var(--preto);
}
.conteudo-principal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;

}
.botao{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1 em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-width: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--ciano);
}
@media screen and (min-width:768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}